@import "normalize.css";
@import "skeleton.css";

* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

.server-data, .clear-button-container {
    background-color: white
}

table {
    width: 100%;
}

.clear-button-container {
    position:sticky;
    top: 3rem;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.server-data {
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 3rem;
}

.log-source-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2rem;
}

.log-source-container h3{
    margin-bottom: 0;
}


.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: white;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.collapsible > h3 {
    display: flex;
    align-items: center;
}

.collapsible > h3:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 2rem;
    margin-right: 5px;
    transition: all 0.25s ease-out;
}

.active > h3:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    transform: rotateZ(180deg);
}
